/* common shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: #131313;
}

li {
    display: inline;
    list-style: none;
}

.btn {
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


/* header styles here */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 50px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.logo {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.menu li {
    padding: 0px 15px;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 500;
}

/* bannar styles here */

.bannar-text {
    width: 60%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
}

.bannar-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.bannar-description {
    color: #727272;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 20px 0px 30px;
}

.bannar-img img {
    width: 100%;
    height: auto;
}

/* main seection here */

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.team-img-container img {
    width: 100%;
    height: auto;
}
.our-team-container {
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
}

.team-text {
    width: 80%;
}

.team-text-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;

}

.quick-list {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.features {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

.team-text-desciption {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 24px 0px 32px;
}

.hide{
    display: none;
}


/* responsive media query start here */
/* mobile device */
@media screen and (max-width:576px) {

    .header,
    main
   
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav,
    .our-team-container
    {
        flex-direction: column;
    }

    .bannar-text {
        width: 100%;
        margin: 0;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }

    .team-text-container{
        align-items: center;
    }
    .team-text{
        width: 90%;
    }
}

/* medium devise and tablet responsiv */

@media screen and (min-width:577px) and (max-width:991px) {
    .header,
    main
     {
        padding-left: 50px;
        padding-right: 50px;
    }

    .nav,
    .our-team-container
     {
        flex-direction: column;
    }

    .bannar-text {
        width: 100%;
        margin: 0;
    }
}

/* large devise */

@media screen and (min-width:992px) and (max-width:1440px) {
    .header,
    main
    {
        padding-left: 100px;
        padding-right: 100px;
    }

    .bannar-text {
        width: 100%;
        margin: 0;
    }
}